<div class="invitations-section">
    
    <% if pending_array(@invitations).length > 0 %>
        <h3 class="fw-bold">Requests:</h3><br>
        <% pending_array(@invitations).map do |pendig_user| %>
           
        
                    <span class="profile-link">
                        <%= link_to pendig_user.name,  user_path(pendig_user), class: 'profile-link fs-4 none text-dark' %>
                    </span>
       
                        <%= accept_friend_request(pendig_user) %>
                        <%= reject_friend_request(pendig_user) %>
         
      
        <% end %>
    <% end %>
    <% if connections_array(@friends).length > 0 %>
        <h3 class="fw-bold mt-5">Friends:</h3><br>
        <% connections_array(@friends).map do |friend| %>
<br />
                    <span class="profile-link">
                        <%= link_to friend.name,  user_path(friend), class: 'profile-link fs-4 none text-dark' %>
                    </span>
     
        <% end %>
    <% end %>
</div>