/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.mx-2 {
  margin: 0 10px 0 10px;
}

.white {
  background-color: white;
  color: white;
}

body,
html {
  height: 100%;
  margin: 0;
}

.image {
  border-radius: 50%;

  img {
    border-radius: 50%;
    height: 64px;
    width: 64px;
  }
}

body {
  background-image: repeating-radial-gradient(rgba(164, 235, 218, 1), rgb(240, 100, 219));
  height: 100%;
}

.none {
  text-decoration: none;
}

.height {
  height: 90px;
}

.red {
  color: rgb(170, 13, 13);
}

.mini {
  font-size: 10px;
}